<article>
<div class='col-md-10 about-us-background'>
  <br>
  <div class='thumbnail about-us-properties'>

    <!-- Image -->
    <%= image_tag('aboutus2.jpg', alt: 'About us image.', class: 'about-us-image') %>
    <!-- /Image -->

    <div class='caption'>
      <h2 class='text-center about-us-title'>About Us</h2>

      <!-- Description -->
      <p class='col-md-8 col-md-offset-2 about-us-text'>This is website about our travels. Read, watch pictures and see where the story took place on map. This version of website is for technical purposes and shows how does everything works. You can login and add, edit or delete stories, pictures and elements of stories. Login: ok@ok.ok . Password: heyhoheyho . Enjoy!   </p>
      <!-- /Description -->

      <!-- Action Buttons -->
      <div class="col-md-offset-3">
      <div class='row'>
        <%= link_to(contact_url) do %>
            <div class='col-md-4 col-sm-6'>
              <button class='btn btn-default btn-block about-us-buttons' role='button'>Contact with us</button>
            </div>
        <% end %>
        <%= link_to(welcome_index_path) do %>
            <div class='col-md-4 col-sm-6'>
              <button class='btn btn-default btn-block about-us-buttons' role='button'>Back to main page</button>
            </div>
        <% end %>
      </div>
      </div>
      <!-- /Action Buttons -->

    </div>
  </div>

</div>
</article>