<% content_for :head_title do %>
    "About us webpage."
<% end %>

<div class='container'>
  <div class="row">

    <!-- Left column - about us section -->
    <%= render 'leftmenu_aboutus'  %>
    <!-- /Left column - about us section -->

    <!-- Right Column - Menu -->
    <%= render 'shared/rightmenu' %>
    <!-- /Right Column - Menu -->

  </div>
  <!-- /row-->

</div>
<!-- /container-->