- content_for :head_title do "About us webpage."

.container
  .row
    -# Left column - about us section
    = render 'leftmenu_aboutus'

    -# Right Column - Menu
    = render 'shared/rightmenu'
