<div class='col-md-10 story-maps-background'>
  <br>
  <div class='thumbnail story-maps-properties'>
    <br>

    <!-- Google Maps Canvas -->

    <div id="map" class="story-google-maps"></div>
    <br>
  </div>

</div>