<!-- This is template text, later will be changed -->
<h1>First Message</h1>

<!-- This is template loop, later will be changed -->
<% @stories.each do |story| %>
    <p><%= story.name %></p>
    <p><%=	link_to story.name, story  %> </p>
<% end %>

<!-- This is sample link -->

