<% content_for :head_title do %>
    "Webpage about our travel stories."
<% end %>

<div class='container'>
  <div class='row'>

    <!-- Left Column - Images -->
        <%= render 'leftmenu_welcome' %>
    <!-- /Left Column - Images -->

    <!-- Right Column - Menu -->
        <%= render 'shared/rightmenu' %>
    <!-- /Right Column - Menu -->

  </div>
  <!-- /row-->

</div>
<!-- /container-->




