<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="ie8"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Title Specific Meta -->
  <title>Milion Stories</title>
  <meta name="description" content="Webpage about our travel stories.">
  <meta name="author" content="Anna Huk and Michal Zagrodzki">

  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/style.css" />

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js></sricpt>
    <![endif]-->

  <!-- Favicon and Apple Icons -->
  <link rel="shortcut icon" href="images/icon/favicon.ico">
  <link rel="apple-touch-icon" href="images/icon/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/icon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/icon/apple-touch-icon-114x114.png">

  <!-- WHEN FONTS WILL BE LOADED, CHOOSE SVG AS FIRST ONE ! IT WILL RENDER PROPERLY IN CHROME -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<!-- BEGINNING OF BODY -->

<body>
<!-- Left column -->
<div class='container'>
  <div class='row'>

    <!-- Main Section - Images -->
    <div class='col-md-10'>

      <!-- Story Thumbnail-->
      <div class='col-md-4'>
        <% @stories.each do |story| %>
            <%= link_to "<p class='text-center'>10.12.2014</p>".html_safe, story %> <!-- this elements needs to be corrected -->
          <div class='thumbnail'>
            <img src="images/malta-story-thumbnail.jpg" alt='...'>
            <div class='caption'>
              <h3 class='text-center'><%= story.name %></h3>
              <p class='text-center'>10.12.2014</p>
            </div>
          </div>
        </a>
        <% end %>
      </div>
      <!-- /Story Thumbnail-->


