- content_for :head_title do "Webpage about our travel stories."

.container
  .row
    -# Left Column - Images
    = render 'leftmenu_welcome'

    -# Right Column - Menu
    = render 'shared/rightmenu'
