<% content_for :head_title do %>
    "Contact us page."
<% end %>

<div class='container'>
  <div class="row">

    <!-- Left column - contact us section -->
    <%= render 'leftmenu_contactnew'  %>
    <!-- /Left column - contact us section -->

    <!-- Right Column - Menu -->
    <%= render 'shared/rightmenu' %>
    <!-- /Right Column - Menu -->

</div>
<!-- /row-->

</div>
<!-- /container-->