<div class='col-md-11 col-md-offset-1'>
  <hr>
  <div class='row'>

    <div class='col-md-2'>
      <a class='btn btn-default btn-block text-lowercase' href='#' role='button'>like it</a>
    </div>
    <div class='col-md-2'>
      <a class='btn btn-default btn-block text-lowercase' href='#' role='button'>follow it</a>
    </div>
    <div class='col-md-2'>
      <a class='btn btn-default btn-block text-lowercase' href='#' role='button'>pin it</a>
    </div>
    <div class='col-md-2'>
      <a class='btn btn-default btn-block text-lowercase' href='#' role='button'>g+</a>
    </div>
    <div class='col-md-2'>
      <a class='btn btn-default btn-block text-lowercase' href='#' role='button'>subscribe</a>
    </div>

  </div>
  <hr>
</div>