.col-md-11.col-md-offset-1
  %hr/
  .row
    .col-md-2
      %a.btn.btn-default.btn-block.text-lowercase{:href => "#", :role => "button"} like it
    .col-md-2
      %a.btn.btn-default.btn-block.text-lowercase{:href => "#", :role => "button"} follow it
    .col-md-2
      %a.btn.btn-default.btn-block.text-lowercase{:href => "#", :role => "button"} pin it
    .col-md-2
      %a.btn.btn-default.btn-block.text-lowercase{:href => "#", :role => "button"} g+
    .col-md-2
      %a.btn.btn-default.btn-block.text-lowercase{:href => "#", :role => "button"} subscribe
  %hr/