<div class="col-md-offset-3">
  <div class='col-md-8'>
    <hr>
    <div class='row'>

      <div class='col-md-3'>
        <a class='btn btn-default btn-block story-show-social-icons story-show-facebook-hover' href='#' role='button'>like it</a>
      </div>
      <div class='col-md-3'>
        <a class='btn btn-default btn-block story-show-social-icons story-show-twitter-hover' href='#' role='button'>follow it</a>
      </div>
      <div class='col-md-3'>
        <a class='btn btn-default btn-block story-show-social-icons story-show-pinterest-hover' href='#' role='button'>pin it</a>
      </div>
      <div class='col-md-3'>
        <a class='btn btn-default btn-block story-show-social-icons story-show-google-hover' href='#' role='button'>g+</a>
      </div>

    </div>
    <hr>
  </div>
</div>