- content_for :head_title do "List of searched stories."

.container
  .row
    -# Left Column - result of search
    = render 'leftmenu_searchstories'

    -# Right Column - Menu
    = render 'shared/rightmenu'
