<% content_for :head_title do %>
    "List of searched stories."
<% end %>

<div class='container-fluid'>
  <div class='row'>

    <!-- Left Column - result of search -->
    <%= render 'leftmenu_searchstories'  %>
    <!-- /Left Column - result of search -->

    <!-- Right Column - Menu -->
    <%= render 'shared/rightmenu' %>
    <!-- /Right Column - Menu -->

  </div>
  <!-- /row-->

</div>
<!-- /container-->




