<!-- This is template loop, for testing purpose -->

<!-- Name of story -->
<p><%= @story.name %></p>

<!-- Sample text -->
<p><%= @story.story_part_1 %></p>

<!-- Template link to welcome page -->
<p><%= link_to "Main Page", welcome_index_path	%></p>