<!-- /Search and Stories Module -->

<!-- Stories Tags -->
<div class='sidebar-module'>
  <div class='row'>

<!-- 1st row -->
    <div class='col-md-12'>
      <div class='btn-group' role='group'>
        <a class='btn btn-default btn-sm disabled' href='#' role='button'>Hike</a>
        <a class='btn btn-default btn-sm disabled' href='#' role='button'>City</a>
        <a class='btn btn-default btn-sm disabled' href='#' role='button'>Museum</a>
      </div>
    </div>
    <!-- /1st row -->

<!-- 2nd row -->
    <div class='col-md-12'>
      <div class='btn-group' role='group'>
        <a class='btn btn-default btn-sm disabled' href='#' role='button'>Trail</a>
        <a class='btn btn-default btn-sm disabled' href='#' role='button'>Eat</a>
        <a class='btn btn-default btn-sm disabled' href='#' role='button'>Relax</a>
      </div>
    </div>
    <!-- /2nd row -->

  </div>
 </div>