
    <hr class="separator">
    <div class='row'>

      <div class='col-md-3 col-sm-3 col-xs-6'>
        <a class='btn btn-default btn-block story-pictures-social-media-buttons story-pictures-facebook-hover' href='#' role='button'>like</a>
      </div>
      <div class='col-md-3 col-sm-3 col-xs-6'>
        <a class='btn btn-default btn-block story-pictures-social-media-buttons story-pictures-twitter-hover' href='#' role='button'>tweet</a>
      </div>
      <div class='col-md-3 col-sm-3 col-xs-6'>
        <a class='btn btn-default btn-block story-pictures-social-media-buttons story-pictures-pinterest-hover' href='#' role='button'>pin</a>
      </div>
      <div class='col-md-3 col-sm-3 col-xs-6'>
        <a class='btn btn-default btn-block story-pictures-social-media-buttons story-pictures-google-hover' href='#' role='button'>g+</a>
      </div>

    </div>
    <hr class="separator">

