/******************************************
               About Us Section
******************************************/

// background properties of about us
.about-us-background{
  background-color: $background-color;
  padding-bottom: 50px;
}

// properties of about us panel
.about-us-properties{
  background-color: lighten($background-color, 5%);
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: 3px solid lighten($background-color, 25%);
  border-radius: 0;
  box-shadow: 0 2px 3px darken($background-color, 10%);
}

// title of panel
.about-us-title{
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: $playfair-bold;
  color: $story-show-section-title-font-color;
  font-size: $story-show-section-title-desktop;
  line-height: 80%;
}

// text of panel
.about-us-text{
  font-family: $open-sans-regular;
  color: darken($story-show-section-title-font-color, 20%);
  font-size: $story-show-text-desktop;
  line-height: 160%;
  margin-bottom: 50px;
}

// action buttons
.about-us-buttons{
  border: 2px solid lighten($right-menu-button-font-color, 25%);
  background-color: inherit;
  border-radius: 1px;
  margin-bottom: 5px;
  font-family: $open-sans-regular;
  font-style: normal;
  font-size: $story-show-text-desktop;
  line-height: 180%;
  padding: 2px 4px;
  color: lighten($right-menu-button-font-color, 25%);
  @include transition(.5s);

  &:hover {
    @extend .about-us-buttons;
    background-color: lighten($right-menu-button-font-color, 25%);
    color: white;
  }
}
