/******************************************
               About Us Section
******************************************/

// background properties of about us
.about-us-background{
  background-color: $background-color;
  padding-bottom: 200px;
}

// properties of about us panel
.about-us-properties{
  background-color: lighten($background-color, 5%);
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: 3px solid lighten($background-color, 25%);
  border-radius: 0;
  box-shadow: 0 2px 3px darken($background-color, 10%);
}

.about-us-image{
  margin-left: 10px;
  margin-right: 10px;
}

// title of panel
.about-us-title{
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: $playfair-bold;
  color: $story-show-section-title-font-color;
  font-size: $story-show-section-title-desktop;
  line-height: 80%;
}

// text of panel
.about-us-text{
  font-family: $open-sans-regular;
  color: darken($story-show-section-title-font-color, 20%);
  font-size: $story-show-text-desktop;
  line-height: 160%;
  margin-bottom: 50px;
}

// action buttons
.about-us-buttons{
  border: 2px solid lighten($right-menu-button-font-color, 25%);
  background-color: inherit;
  border-radius: 1px;
  margin-bottom: 80px;
  font-family: $open-sans-regular;
  font-style: normal;
  font-size: $story-show-text-desktop;
  line-height: 180%;
  padding: 2px 4px;
  color: lighten($right-menu-button-font-color, 25%);
  @include transition(.5s);

  &:hover {
    @extend .about-us-buttons;
    background-color: lighten($right-menu-button-font-color, 25%);
    color: white;
  }
}


/******************************************
                Media Queries
******************************************/

/* Extra Small devices (mobiles, 320px and up) */
@media (min-width: 320px) and (max-width: 767px) {

  .about-us-background{
    padding-bottom: 40px;
  }

  .about-us-buttons{
    margin-bottom: 20px;
  }


}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

  .about-us-text{
    margin-bottom: 100px;
  }

  .about-us-buttons{
    margin-bottom: 120px;
  }

}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399px) {

  .about-us-title{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .about-us-text{
    margin-bottom: 40px;
  }

  .about-us-buttons{
    margin-bottom: 40px;
  }

  .about-us-background{
    padding-bottom: 180px;
  }

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) and (max-width: 1920px) {

  .about-us-buttons{
    margin-bottom: 40px;
  }

}
