
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/grid";

/******************************************
         Variables for Google Maps
******************************************/

// value controlling marker and infowindow of google maps
// value moved from maps.scss
.marker_container {
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  background: #f5f5f5;
  color: #1d1d1d;
  padding: 5px;
}

 // Bootstrap Css Map Fix
#map-container #map-canvas img {
  max-width: none;
}
// Bootstrap Css Map Fix
#map-container #map-canvas label {
  width: auto; display:inline;
}

/******************************************
             Fonts for project
******************************************/

// Open Sans Regular
@font-face {
  font-family: 'Open-Sans-Regular';
  src:  asset_url('OpenSans-Regular.eot');
  src:  asset_url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  asset_url('OpenSans-Regular.svg#OpenSans-Regular') format('svg'),
  asset_url('OpenSans-Regular.woff') format('woff'),
  asset_url('OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Open Sans Bold
@font-face {
  font-family: 'Open-Sans-Bold';
  src:  asset_url('OpenSans-Bold.eot');
  src:  asset_url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  asset_url('OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
  asset_url('OpenSans-Bold.woff') format('woff'),
  asset_url('OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Open Sans Bold Italic
@font-face {
  font-family: 'Open-Sans-Italic';
  src:  asset_url('OpenSans-Italic.eot');
  src:  asset_url('OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
  asset_url('OpenSans-Italic.svg#OpenSans-Italic') format('svg'),
  asset_url('OpenSans-Italic.woff') format('woff'),
  asset_url('OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

// Playfair Bold
@font-face {
  font-family: 'Playfair-Bold';
  src:  asset_url('PlayfairDisplay-Bold.eot');
  src:  asset_url('PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  asset_url('PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg'),
  asset_url('PlayfairDisplay-Bold.woff') format('woff'),
  asset_url('PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Playfair Black
@font-face {
  font-family: 'Playfair-Black';
  src:  asset_url('PlayfairDisplay-Black.eot');
  src:  asset_url('PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'),
  asset_url('PlayfairDisplay-Black.svg#PlayfairDisplay-Black') format('svg'),
  asset_url('PlayfairDisplay-Black.woff') format('woff'),
  asset_url('PlayfairDisplay-Black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Lobster Bold Italic
@font-face {
  font-family: 'Lobster-Bold-Italic';
  src:  asset_url('LobsterTwo-BoldItalic.eot');
  src:  asset_url('LobsterTwo-BoldItalic.eot?#iefix') format('embedded-opentype'),
  asset_url('LobsterTwo-BoldItalic.svg#LobsterTwo-BoldItalic') format('svg'),
  asset_url('LobsterTwo-BoldItalic.woff') format('woff'),
  asset_url('LobsterTwo-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

// Socialico
@font-face {
  font-family: 'Socialico';
  src:  asset_url('Socialico.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Socialico Plus
@font-face {
  font-family: 'Socialico-Plus';
  src:  asset_url('Socialico-Plus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/******************************************
        Resets functions of Bootstrap
******************************************/

// Turns off underline of links.
a {
  text-decoration: none !important;
}

/******************************************
             Mixins for project
******************************************/

// Fonts
// Open Sans
$open-sans-regular: Open-Sans-Regular, sans-serif;
$open-sans-bold: Open-Sans-Bold, sans-serif;
$open-sans-italic: Open-Sans-Italic, sans-serif;

// Playfair
$playfair-bold: Playfair-Bold, serif;
$playfair-black: Playfair-Black, serif;

// Lobster
$lobster-bold-italic: Lobster-Bold-Italic, script;

// Socialico
$socialico: Socialico, sans-serif;
$socialico-plus: Socialico-Plus, sans-serif;

// Colors

$background-color: #e7e7e7;

// main page
$main-page-title-font-color: #b0b0b0;

// right menu
$right-menu-title-font-color: #3d3d3d;
$right-menu-button-font-color: #656565;
$right-menu-button-active-font-color: #dbdbdb;


$secondary-font-color: #a18e73;
$footer-font-color: #40382e;
$sign-up-font-color: #e7e3de;

$button-color-big: #f6f2ec;
$button-border-color: #2f2c29;

// Transitions

@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -o-transition: $duration;
  transition: $duration;
}

// Size of fonts

$main-page-title-desktop: 56px;
$main-page-title-mobile: 56px;

$main-page-date-desktop: $main-page-title-desktop*0.2;
$main-page-date-mobile: $main-page-title-mobile*0.2;

/******************************************
             HTML Section
******************************************/

body{
  height: 100%;
  width: 100%;
  display: block;
}

// Separator line
hr {
  height: 1px;
  background-color: darken($background-color, 20%);
  border: none;
  display: block;
}

/******************************************
            Main Page Section
******************************************/


// Background of Main Page
.main-page-background{
  background-color: $background-color;
  padding-top: 20px;
  padding-bottom: 280px;
  height: auto;
}

// Properties of Story Image Tab in Main Page
.main-page-image{
  padding: 0px;
  border: 3px solid white;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.15);
  border-radius: 0px;
}

// Properties of title on Main Page
.main-page-title{
  margin-top: -120px;
  font-family: $playfair-black;
  font-size: $main-page-title-desktop;
  color: $main-page-title-font-color;
  line-height: 85%;
  opacity: 0.8;
}

// Properties of date on Main Page
.main-page-date{
  margin-top: -10px;
  margin-bottom: 11px;
  font-family: $open-sans-regular;
  font-size: $main-page-date-desktop;
  color: $main-page-title-font-color;
  opacity: 0.8;
}

.load-more-stories-button{
  $color: darken($main-page-title-font-color, 15%);
  font-family: $open-sans-regular;
  font-size: 16px;
  background-color: inherit;
  border-radius: 0px;
  color: $color;
  border-color: $color;
  @include transition(.5s);

  &:hover {
    @extend .load-more-stories-button;
    $color: darken($background-color, 80%);
    text-decoration: none;
    border: 1px solid $color;
    color: $color;
  }
}

/******************************************
          Right Hand Menu Section
******************************************/

// Background of right menu
.right-menu{
  background-color: darken($background-color, 5%);
}

// Title of right menu
.right-menu-title{
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: $lobster-bold-italic;
  color: $right-menu-title-font-color;
  font-style: italic;
  font-size: $main-page-title-desktop;
  line-height: 85%;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
}

// Buttons of right menu
.right-menu-button{
  background-color: inherit;
  font-family: $open-sans-regular;
  color: $right-menu-button-font-color;
  border: none;
  border-radius: 0px;
  font-size: 16px;
  margin-bottom: 20px;
  @include transition(.5s);

  &:hover {
    @extend .right-menu-button;

    text-decoration: none;
    box-shadow: 0px 3px 10px darken($background-color, 25%);
  }

  &:active {
    @extend .right-menu-button;
    text-decoration: none;
    border-color: none;
  }

}

// Social media icons in right menu
.right-menu-social-icons{
  border: 2px solid lighten($right-menu-button-font-color, 25%);
  background-color: inherit;
  border-radius: 1px;
  margin-bottom: 5px;
  min-width: 34px;
  font-family: $socialico;
  font-style: normal;
  font-size: 30px;
  line-height: 100%;
  padding: 0px 4px;
  color: lighten($right-menu-button-font-color, 25%);
  @include transition(.5s);
}

// colors on hover of social medias
// facebook

.facebook-hover{
  &:hover {
    $color: #3a5999;
    @extend .right-menu-social-icons;
    border: 2px solid $color;
    background-color: $color;
    color: white;
  }
}

//twitter
.twitter-hover{
  &:hover {
    $color: #3aa9de;
    @extend .right-menu-social-icons;
    border: 2px solid $color;
    background-color: $color;
    color: white;
  }
}

//instagram
.instagram-hover{
  &:hover {
    $color: #3e729a;
    @extend .right-menu-social-icons;
    border: 2px solid $color;
    background-color: $color;
    color: white;
  }
}

//tumblr
.tumblr-hover{
  &:hover {
    $color: #2c4762;
    @extend .right-menu-social-icons;
    border: 2px solid $color;
    background-color: $color;
    color: white;
  }
}

//pinterest
.pinterest-hover{
  &:hover {
    $color: #e41e11;
    @extend .right-menu-social-icons;
    border: 2px solid $color;
    background-color: $color;
    color: white;
  }
}

//vimeo
.vimeo-hover{
  &:hover {
    $color: #44bbff;
    @extend .right-menu-social-icons;
    border: 2px solid $color;
    background-color: $color;
    color: white;
  }
}


// Text on bottom of right menu
.bottom-element{
  margin-top: 220px;
  p{
    font-family: $open-sans-italic;
    font-style: italic;
  }
}


/******************************************
            Story Show Section
******************************************/



/******************************************
          Login / Signup Section
******************************************/



/******************************************
                Media Queries
******************************************/

/* Extra Small devices (mobiles, 320px and up) */
@media (min-width: 320px) and (max-width: 767px) {

  // Change distance between head titles in mobile views.
  .head-font {
    margin-bottom: 40px;
  }

  .second-head-font {
    margin-top: 20px;
    margin-bottom: 60px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-logo-icon{
    margin-top: 60px;
    margin-bottom: 30px;
  }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {}
