
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// value controlling marker and infowindow of google maps
// value moved from maps.scss
.marker_container {
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  background: #f5f5f5;
  color: #1d1d1d;
  padding: 5px;
}

 // Bootstrap Css Map Fix
#map-container #map-canvas img {
  max-width: none;
}
// Bootstrap Css Map Fix
#map-container #map-canvas label {
  width: auto; display:inline;
}
