/******************************************
               Maps Section
******************************************/

.story-maps-background{
  background-color: $background-color;
  padding-bottom: 60px;
}

.story-maps-properties{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: 3px solid lighten($background-color, 25%);
  border-radius: 0;
  width: auto;
  height: 855px;
  box-shadow: 0 2px 3px darken($background-color, 10%);
}

.story-google-maps{
  top: -20px;
  display: block;
  width: 100%;
  height: 850px;
  overflow: hidden;
}

// Marker on map
.main-map-marker{
  background-color: lighten($background-color, 5%);
  //padding: 5px 5px 0px 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.30);
  max-width: 250px;
  p{
    font-family: $open-sans-regular;
    font-style: normal;
    font-size: $main-map-text-desktop;
    color: darken($story-show-section-title-font-color, 40%);
    padding: 5px 10px;
  }
}

// Infowindow on map
.main-map-info-window{
  background-color: lighten($background-color, 5%);
  padding: 5px;
  max-width: 462px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.30);
  border-radius: 0 0 3px 3px;
  border: 1px solid darken($background-color, 5%);
  p{
    font-family: $open-sans-regular;
    font-style: normal;
    font-size: $main-map-text-desktop;
    color: darken($story-show-section-title-font-color, 40%);
    padding: 5px 10px;
  }
}


/******************************************
                Media Queries
******************************************/

/* Extra Small devices (mobiles, 320px and up) */
@media (min-width: 320px) and (max-width: 767px) {

  .story-maps-properties{
    height: 480px;
  }

  .story-google-maps{
    height: 475px;
  }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {}
