// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// style for Google Maps Marker
.marker_container {
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  background: #f5f5f5;
  color: #1d1d1d;
  padding: 5px;
}