
/******************************************
            Story Show Section
******************************************/

// reset container-fluid in header
.reset-margin{
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
}

// Header of page
.story-show-header-image{
  position: relative;
  background: no-repeat no-repeat center;
  background-size: cover;
  //min-height: 1000px;
  width: auto;
  height: 100%;
}

// milion stories logo on top
.story-show-header-milion-stories{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 10px;
  font-family: $lobster-bold-italic;
  font-style: italic;
  font-size: 17px;
  color: $main-page-title-font-color;
  opacity: 0.8;
}

.story-show-header-title{
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 140px;
  font-family: $playfair-bold;
  font-size: 85px;
  color: $main-page-title-font-color;
  opacity: 0.8;
}

.story-show-header-button-row{
  position: absolute;
  bottom: 70px;
  margin-left: auto;
  margin-right: auto;
}

.story-show-header-button{
  background-color: transparent;
  border-radius: 0;
  border: 2px solid $main-page-title-font-color;
  color: $main-page-title-font-color;
  opacity: 0.8;
  @include transition(.5s);

  &:hover {
    @extend .story-show-header-button;
    background-color: $main-page-title-font-color;
    opacity: 0.95;
    color: lighten($main-page-title-font-color, 40%);
  }
}