
/******************************************
            Story Show Section
******************************************/

// reset container-fluid in header
.reset-margin{
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
}

// additional padding
.extra-padding{
  padding-right: 15px;
  padding-left: 15px;
}

// Header of page
.story-show-header-image {
  display: block;
  overflow: hidden;
  position: relative;
}

.story-show-header-image-properties{
  top: 0;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
}

// milion stories logo on top
.story-show-header-milion-stories{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 10px;
  font-family: $lobster-bold-italic;
  font-style: italic;
  font-size: 17px;
  color: $main-page-title-font-color;
  opacity: 0.8;
}

// title of story in header
.story-show-header-title{
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 140px;
  font-family: $playfair-bold;
  font-size: $story-show-title-desktop;
  color: $main-page-title-font-color;
  opacity: 0.8;
  margin-right: 10px;
  margin-left: 10px;
  word-wrap: break-word;
}

// general values for buttons in header
.story-show-header-button-row{
  position: absolute;
  bottom: 70px;
  margin-left: auto;
  margin-right: auto;
}

// style for single button in header
.story-show-header-button{
  background-color: transparent;
  border-radius: 0;
  border: 2px solid $main-page-title-font-color;
  color: $main-page-title-font-color;
  opacity: 0.8;
  @include transition(.5s);

  &:hover {
    @extend .story-show-header-button;
    background-color: $main-page-title-font-color;
    opacity: 0.95;
    color: lighten($main-page-title-font-color, 40%);
  }
}

// background of story
.story-show-background{
  background-color: $background-color;
}

// title of section
.story-show-section-title{
  margin-top: 105px;
  margin-bottom: 0;
  font-family: $playfair-bold;
  color: $story-show-section-title-font-color;
  font-size: $story-show-section-title-desktop;
  line-height: 80%;
}

// date in section header
.story-show-section-date{
  font-family: $playfair-bold;
  font-style: oblique;
  color: $story-show-section-title-font-color;
  font-size: 20px;
  margin-bottom: 55px;
}

// text of section
.story-show-section-text{
  font-family: $open-sans-regular;
  color: darken($story-show-section-title-font-color, 20%);
  font-size: $story-show-text-desktop;
  line-height: 160%;
  margin-top: 75px;
  margin-bottom: 75px;
}

// image in section
.story-show-section-image{
  border: 3px solid lighten($background-color, 25%);
  border-radius: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 0 0 ;
  box-shadow: 0 2px 3px darken($background-color, 10%);
  width: 100%;
  height: auto;
  overflow: hidden;
}

// full width image in chapter and advice
.story-show-section-image-large{

  @extend .story-show-section-image;
  border: none;
  box-shadow: 0 1px 3px darken($background-color, 40%);
  position: relative;
}

// field for title of picture
.story-show-image-description{
  position: absolute;
  top: 80%;
  left: 0;
  width: 30%;
  padding: 15px;
  background-color: rgba(darken($background-color, 80%), 0.55);
}

// picture title text
.story-show-image-text{
  color: lighten($story-show-section-title-font-color, 40%);
  font-family: $open-sans-regular;
  font-size: $story-show-picture-title-desktop;
}

// Social media properties
.story-show-social-media-properties{
  margin-bottom: 85px;
}

// Spacer between sections
.spacer{
  margin-top: 100px;
}

.show-story-maps-properties{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: 3px solid lighten($background-color, 25%);
  border-radius: 0;
  width: auto;
  height: 855px;
  box-shadow: 0 2px 3px darken($background-color, 10%);
}

.story-show-google-maps{
  display: block;
  width: 100%;
  height: 850px;
  overflow: hidden;
}

// Social media action icons
.story-show-social-icons{
  border: 2px solid lighten($right-menu-button-font-color, 25%);
  background-color: inherit;
  border-radius: 1px;
  margin-bottom: 5px;
  font-family: $open-sans-regular;
  font-style: normal;
  font-size: $story-show-text-desktop;
  line-height: 180%;
  padding: 2px 4px;
  color: lighten($right-menu-button-font-color, 25%);
  @include transition(.5s);
}

// colors on hover of social media actions

// facebook
.story-show-facebook-hover{
  &:hover {
    $color: #3a5999;
    @extend .story-show-social-icons;
    border: 2px solid $color;
    background-color: $color;
    color: white;
  }
}

//twitter
.story-show-twitter-hover{
  &:hover {
    $color: #3aa9de;
    @extend .story-show-social-icons;
    border: 2px solid $color;
    background-color: $color;
    color: white;
  }
}

//pinterest
.story-show-pinterest-hover{
  &:hover {
    $color: #e41e11;
    @extend .story-show-social-icons;
    border: 2px solid $color;
    background-color: $color;
    color: white;
  }
}

//google
.story-show-google-hover{
  &:hover {
    $color: #d54a2d;
    @extend .story-show-social-icons;
    border: 2px solid $color;
    background-color: $color;
    color: white;
  }
}

/******************************************
                Media Queries
******************************************/

/* Extra Small devices (mobiles, 320px and up) */
@media (min-width: 320px) and (max-width: 767px) {

  .story-show-header-title{
    bottom: 180px;
    font-size: $story-show-title-mobile;
  }

  .story-show-header-button {
    margin-bottom: 20px;
  }

  .story-show-section-title{
    padding-top: 105px;
    margin-top: 0;
    font-size: $story-show-section-title-mobile;
  }

  .show-story-maps-properties{
    height: 505px;
  }

  .story-show-google-maps{
    height: 500px;
  }

  .story-show-social-media-properties{
    margin-bottom: 0;
  }

  .story-show-social-icons{
    margin-bottom: 15px;
  }

  .story-show-section-text{
    font-size: $story-show-text-mobile;
    margin-left: 5px;
    margin-right: 5px;
  }

  .story-show-image-description{
    top: 60%;
    width: 40%;
  }

  .story-show-image-text{
    font-size: $story-show-picture-title-mobile;
  }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {}
